body {
    background-color: rgb(253, 251, 251);
    height: 768px;
    width: 1366px;
}

#cabecalho {
    top: 0;
}

#minha_foto {
    width: 200px;
}

.lessons {
    display: flex;
    margin-top: 25px;
}

#rodape {
    bottom: 0;
}

.informations {
    display: grid;
}

.informations a {
    margin-top: 15px;
}

.informations a:visited {
    text-decoration: none;
    color: #0000EE;
}